@font-face {
  font-family: 'Suse';
  src: url('./assets/SuseFont/SUSE-VariableFont_wght.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  max-height: 95vh;
  overflow: hidden;
  background-color: lightgreen;
  transition: background-color 2s ease;
  font-family: 'Suse', sans-serif;
}

ol {
  max-height: 50vh;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
}

:root {
  --header: rgb(44, 44, 44);
  --page-color-transition: background-color .2s ease, color .2s ease;
}

[data-theme="dark"] {
  --header: whitesmoke;
}

#darkmode {
  padding: 0.5em 0.5em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(3);
}

.darkmode_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--header);
  transform-origin: center center;
  transition: transform 0.75s ease-in-out, var(--page-color-transition);
}

[data-theme="light"] .darkmode_icon:hover, [data-theme="light"] .darkmode_icon:hover .ray {
  background-color: rgb(30, 30, 30);
}

[data-theme="dark"] .darkmode_icon:hover {
  background-color: rgb(180, 180, 180);
}

.darkmode_icon::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  left: 8px;
  bottom: 4px;
  border-radius: 10px;
  background-color: var(--cover-color);
  transform-origin: center center;
  transition: background-color 2s ease, transform 0.5s ease, left 0.25s ease, bottom 0.25s ease;
}

.darkmode_icon .ray {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: var(--header);
  transform-origin: center;
  transition: transform 0.5s ease-in-out, var(--page-color-transition);
}

.ray:nth-child(1) {
  transform: rotate(45deg) translateX(0);
}
.ray:nth-child(2) {
  transform: rotate(90deg) translateX(0);
}
.ray:nth-child(3) {
  transform: rotate(135deg) translateX(0);
}
.ray:nth-child(4) {
  transform: rotate(180deg) translateX(0);
}
.ray:nth-child(5) {
  transform: rotate(225deg) translateX(0);
}
.ray:nth-child(6) {
  transform: rotate(270deg) translateX(0);
}
.ray:nth-child(7) {
  transform: rotate(315deg) translateX(0);
}
.ray:nth-child(8) {
  transform: rotate(360deg) translateX(0);
}

[data-theme="dark"] {
  & .darkmode_icon {
    transform: scale(0.6);
  }
  & .darkmode_icon::after {
    left: 15px;
    bottom: 8px;
    transform: scale(0);
  }
  & .ray:nth-child(1) {
    transform: rotate(45deg) translateX(-16px);
  }
  & .ray:nth-child(2) {
    transform: rotate(90deg) translateX(-16px);
  }
  & .ray:nth-child(3) {
    transform: rotate(135deg) translateX(-16px);
  }
  & .ray:nth-child(4) {
    transform: rotate(180deg) translateX(-16px);
  }
  & .ray:nth-child(5) {
    transform: rotate(225deg) translateX(-16px);
  }
  & .ray:nth-child(6) {
    transform: rotate(270deg) translateX(-16px);
  }
  & .ray:nth-child(7) {
    transform: rotate(315deg) translateX(-16px);
  }
  & .ray:nth-child(8) {
    transform: rotate(360deg) translateX(-16px);
  }
}

::-webkit-scrollbar
{
  width: 7px;
}

::-webkit-scrollbar-track 
{
  background: rgba(0,0,0,0.8);
}

::-webkit-scrollbar-thumb 
{
  background: #f50057;
}

.list {
  position: relative;
  max-height: 75%;
}

.list ol {
  display: none;
  position: relative;
  counter-reset: li;
  padding: 10px;
}

.list ol li {
  font-size: large;
  position: relative;
  left: 0;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
  list-style: none;
  margin: 4px 0;
  /*border-left: 2px solid #f50057;*/
  border-left: 2px solid rgba(0, 0, 0, 0.8);
  transition: 0.5s;

  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
  cursor: pointer;
}

.list ol li:hover, #selected {
  left: 10px;
}

.list ol li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}

.list ol li:hover span, #selected span {
  color: rgb(240, 240, 240);
}

.list ol li span:before, #selected span:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
	color: red;
	margin-right: 0.25em;
  transition: 0.5s;
}

.list ol li:hover span:before, #selected span:before {
  color: black;
  transition: 0.5s;
}

.list ol li:before, #selected:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.list ol li:hover:before, #selected:before {
  transform: scaleX(1);
}

.track-art {
  margin: 15px;
  width: 275px;
  height: 275px;
  border: 0px solid black;
  /*background-image: url("vinyl.gif");*/
  background-image: url("cat.gif");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
  
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;

  font-family:'Suse';
}
  
.now-playing {
  font-size: 3rem;
  font-family: 'Suse', sans-serif;
  text-align: center;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
}
  
.track-name {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
  text-align: center;
}
  
.track-artist {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container 
{
  outline: none;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: rgba(0,0,0,0.8);
  /*opacity: 0.7;*/
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  /*background: rgb(182, 182, 182);*/
  background: #f50057;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #f50057;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
  
.seek_slider {
  width: 70%;
}
  
.volume_slider {
  width: 40%;
}
  
.current-time,
.total-duration 
{
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
}
  
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

#open-file-button, #remove-track-button, #new-playlist-button
{
  font-size: 35pt;
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: 0pt;
  margin: 10pt;
  color: var(--cover-color);
  background-color: rgb(44, 44, 44);
  transition: color 2s ease;
  cursor: pointer;
  display: inline-block;
}

[data-theme="dark"] #open-file-button, #new-playlist-button 
{
  background-color: black;
  opacity: 70%;
}

#open-file-button:hover, #remove-track-button:hover, #new-playlist-button:hover
{
  background-color: black;
  transition: background-color .2s ease;
}

[data-theme="dark"] #open-file-button:hover, #new-playlist-button:hover
{
  opacity: 90%;
  transition: opacity .2s ease;
}

.right-side, .left-side
{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 25vw;
  justify-content: center;
}

.repeat-track {
  cursor: pointer;
}

.shuffle-tracks {
  cursor: pointer;
}

.button-container {
  display: flex;
}