@font-face {
  font-family: 'Suse';
  src: url('./assets/SuseFont/SUSE-VariableFont_wght.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  max-height: 95vh;
  overflow: hidden;
  --body-color: lightgreen;
  background-color: var(--body-color);
  transition: background-color 2s;
  font-family: 'Suse', sans-serif;
}

ol {
  max-height: 50vh;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
}

.list {
  position: relative;
  max-height: 75%;
}
::-webkit-scrollbar
{
  width: 3px;
}
::-webkit-scrollbar-track 
{
  background: rgba(0,0,0,0.8);
}

::-webkit-scrollbar-thumb 
{
  background: #f50057;
}

.list ol {
  display: none;
  position: relative;
  counter-reset: li;
  padding: 10px;
}

.list ol li {
  font-size: large;
  position: relative;
  left: 0;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
  list-style: none;
  margin: 4px 0;
  /*border-left: 2px solid #f50057;*/
  border-left: 2px solid rgba(0, 0, 0, 0.8);
  transition: 0.5s;

  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
  cursor: pointer;
}

.list ol li:hover {
  left: 10px;
}

.list ol li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}

.list ol li span:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
	color: red;
	margin-right: 0.25em;
  transition: 0.5s;
}

.list ol li:hover span {
  color: rgb(240, 240, 240);
}

.list ol li:hover span:before {
  color: black;
  transition: 0.5s;
}

.list ol li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.list ol li:hover:before {
  transform: scaleX(1);
}

.track-art {
  margin: 15px;
  width: 275px;
  height: 275px;
  border: 0px solid black;
  /*background-image: url("vinyl.gif");*/
  background-image: url("cat.gif");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
  
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;

  font-family:'Suse';
}
  
.now-playing {
  font-size: 3rem;
  font-family: 'Suse', sans-serif;
  text-align: center;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
}
  
.track-name {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
  text-align: center;
}
  
.track-artist {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container 
{
  outline: none;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: rgba(0,0,0,0.8);
  /*opacity: 0.7;*/
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 5px;
  /*background: rgb(182, 182, 182);*/
  background: #f50057;
  cursor: pointer;
  border-radius: 0%;
  border: 1px solid #f50057;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
  
.seek_slider {
  width: 70%;
}
  
.volume_slider {
  width: 40%;
}
  
.current-time,
.total-duration 
{
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);
  transition: 2s;
}
  
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

#open-file-button, #remove-track-button{
  font-size: 35pt;
  width: 50pt;
  height: 50pt;

  border-radius: 100%;
  border: 0pt;
  margin: 10pt;

  color:  var(--body-color);
  transition: background-color 0.2s ease-in-out;
  background-color: #1D301D;


  display: inline-block;
  text-align: center;
}
#open-file-button:hover, #remove-track-button:hover
{
  background-color: #000000;
}

.right-side
{
  display:flex;
  flex-direction: column;
  align-items: center;
}
